{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "no-mixed-operators": "off",
    "no-restricted-globals": "off",
    "no-use-before-define": "off"
  },
  "globals": {
    "cordova": true,
    "ga": true,
    "Hammer": true,
    "Materialize": true,
    "StatusBar": true
  }
}
