<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.cyfersystems.learnlarivaar" version="1.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Learn Larivaar</name>
  <description>
        An application to help learn Larivaar through Sehaj Paatth.
    </description>
  <author email="techsupport@khalisfoundation.org" href="http://www.khalisfoundation.org">
        Khalis Foundation
    </author>
  <content src="index.html"/>
  <plugin name="cordova-plugin-whitelist" spec="1"/>
  <plugin name="cordova-plugin-statusbar"/>
  <plugin name="cordova-plugin-insomnia"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="StatusBarOverlaysWebView" value="false"/>
  <!-- ICONS -->
  <platform name="android">
    <icon src="res/android/ldpi.png" density="ldpi" />
    <icon src="res/android/mdpi.png" density="mdpi" />
    <icon src="res/android/hdpi.png" density="hdpi" />
    <icon src="res/android/xhdpi.png" density="xhdpi" />
    <icon src="res/android/xxhdpi.png" density="xxhdpi" />
    <icon src="res/android/xxxhdpi.png" density="xxxhdpi" />
  </platform>
  <platform name="ios">
    <!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->
    <icon src="res/ios/Icon-60@3x.png" width="180" height="180" />
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="res/ios/Icon-60.png" width="60" height="60" />
    <icon src="res/ios/Icon-60@2x.png" width="120" height="120" />
    <!-- iPad -->
    <icon src="res/ios/Icon-76.png" width="76" height="76" />
    <icon src="res/ios/Icon-76@2x.png" width="152" height="152" />
    <!-- iOS 6.1 -->
    <!-- Spotlight Icon -->
    <icon src="res/ios/Icon-Small-40.png" width="40" height="40" />
    <icon src="res/ios/Icon-Small-40@2x.png" width="80" height="80" />
    <!-- iPhone / iPod Touch -->
    <icon src="res/ios/Icon.png" width="57" height="57" />
    <icon src="res/ios/Icon@2x.png" width="114" height="114" />
    <!-- iPad -->
    <icon src="res/ios/Icon-72.png" width="72" height="72" />
    <icon src="res/ios/Icon-72@2x.png" width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="res/ios/Icon-Small.png" width="29" height="29" />
    <icon src="res/ios/Icon-Small@2x.png" width="58" height="58" />
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="res/ios/Icon-Small-50.png" width="50" height="50" />
    <icon src="res/ios/Icon-Small-50@2x.png" width="100" height="100" />
  </platform>

  <platform name="ios">
    <!-- images are determined by width and height. The following are supported -->
    <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
    <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
    <splash src="res/screen/ios/Default-Landscape-736h@3x.png" width="2208" height="1242"/>
  </platform>
  <platform name="windows">
    <icon src="res/windows/storelogo.png" target="StoreLogo" />
    <icon src="res/windows/smalllogo.png" target="Square30x30Logo" />
    <icon src="res/windows/Square44x44Logo.png" target="Square44x44Logo" />
    <icon src="res/windows/Square70x70Logo.png" target="Square70x70Logo" />
    <icon src="res/windows/Square71x71Logo.png" target="Square71x71Logo" />
    <icon src="res/windows/Square150x150Logo.png" target="Square150x150Logo" />
    <icon src="res/windows/Square310x310Logo.png" target="Square310x310Logo" />
    <icon src="res/windows/Wide310x150Logo.png" target="Wide310x150Logo" />
  </platform>
</widget>