<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cyfersystems.learnlarivaar" version="1.0.9" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Learn Larivaar</name>
    <description>
        An application to help learn Larivaar through Sehaj Paatth.
    </description>
    <author email="techsupport@khalisfoundation.org" href="http://www.khalisfoundation.org">
        Khalis Foundation
    </author>
    <preference name="WindowsStoreIdentityName" value="KhalisFoundation.LearnLarivaar" />
    <preference name="windows-target-version" value="10.0" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
        <icon density="ldpi" src="res/android/ldpi.png" />
        <icon density="mdpi" src="res/android/mdpi.png" />
        <icon density="hdpi" src="res/android/hdpi.png" />
        <icon density="xhdpi" src="res/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/android/xxxhdpi.png" />
    </platform>
    <platform name="ios">
        <icon height="180" src="res/ios/Icon-60@3x.png" width="180" />
        <icon height="60" src="res/ios/Icon-60.png" width="60" />
        <icon height="120" src="res/ios/Icon-60@2x.png" width="120" />
        <icon height="76" src="res/ios/Icon-76.png" width="76" />
        <icon height="152" src="res/ios/Icon-76@2x.png" width="152" />
        <icon height="40" src="res/ios/Icon-Small-40.png" width="40" />
        <icon height="80" src="res/ios/Icon-Small-40@2x.png" width="80" />
        <icon height="57" src="res/ios/Icon.png" width="57" />
        <icon height="114" src="res/ios/Icon@2x.png" width="114" />
        <icon height="72" src="res/ios/Icon-72.png" width="72" />
        <icon height="144" src="res/ios/Icon-72@2x.png" width="144" />
        <icon height="29" src="res/ios/Icon-Small.png" width="29" />
        <icon height="58" src="res/ios/Icon-Small@2x.png" width="58" />
        <icon height="50" src="res/ios/Icon-Small-50.png" width="50" />
        <icon height="100" src="res/ios/Icon-Small-50@2x.png" width="100" />
        <icon height="167" src="res/ios/Icon-83.5@2x.png" width="167" />
        <icon height="1024" src="res/ios/Icon-1024.png" width="1024" />
    </platform>
    <platform name="ios">
        <splash src="res/screen/ios/Default@2x~iphone~anyany.png" />
        <splash src="res/screen/ios/Default@2x~iphone~comany.png" />
        <splash src="res/screen/ios/Default@2x~iphone~comcom.png" />
        <splash src="res/screen/ios/Default@3x~iphone~anyany.png" />
        <splash src="res/screen/ios/Default@3x~iphone~anycom.png" />
        <splash src="res/screen/ios/Default@3x~iphone~comany.png" />
        <splash src="res/screen/ios/Default@2x~ipad~anyany.png" />
        <splash src="res/screen/ios/Default@2x~ipad~comany.png" />
    </platform>
    <platform name="windows">
        <icon src="res/windows/storelogo.png" target="StoreLogo" />
        <icon src="res/windows/smalllogo.png" target="Square30x30Logo" />
        <icon src="res/windows/Square44x44Logo.png" target="Square44x44Logo" />
        <icon src="res/windows/Square70x70Logo.png" target="Square70x70Logo" />
        <icon src="res/windows/Square71x71Logo.png" target="Square71x71Logo" />
        <icon src="res/windows/Square150x150Logo.png" target="Square150x150Logo" />
        <icon src="res/windows/Square310x310Logo.png" target="Square310x310Logo" />
        <icon src="res/windows/Wide310x150Logo.png" target="Wide310x150Logo" />
        <icon src="res/windows/splashscreen.png" target="SplashScreen" />
        <icon src="res/windows/splashscreenphone.png" target="SplashScreenPhone" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-statusbar" />
    <plugin name="cordova-plugin-insomnia" />
    <plugin name="cordova-plugin-browsertab" spec="^0.2.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.7.2" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.1.0" />
    <plugin name="cordova-plugin-device" spec="^1.1.7" />
    <plugin name="cordova-plugin-screen-orientation" spec="^2.0.2" />
    <engine name="ios" spec="^4.5.4" />
</widget>
