$dark-bg: #222;
$dark-bg-alpha: rgba(34, 34, 34, 0.95);
$dark-signature: #ddd;

body.dark {
  background-color: $dark-bg;
  color: $dark-signature;

  header {
    background-color: $dark-bg-alpha;
  }

  .side-nav,
  .side-nav .collapsible-body,
  .modal,
  .modal .modal-footer {
    background-color: $dark-bg;
    color: $dark-signature;
  }

  a,
  .side-nav li,
  .side-nav a,
  .secondary-content {
    color: $dark-signature;
  }

  .burger {
    span,
    span::before,
    span::after {
      background: $dark-signature;
    }
  }

  #larreevaar_assistance::after {
    border-color: $dark-signature;
  }
}
