body .lang_pa {
  display: none;
  font-family: AnmolUni, 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

body.lang_pa .lang_pa {
  display: inline;
}

body.lang_pa .lang_en {
  display: none;
}
