$iphonex-padding: 44px;
$iphonex-rounded-padding: 20px;

.platform-ios.h812.landscape-primary {
  #settings_button {
    left: $iphonex-padding;
  }

  #larreevaar_assistance {
    right: $iphonex-rounded-padding;
  }

  .app {
    padding-left: calc(8px + #{$iphonex-padding});
    padding-right: calc(8px + #{$iphonex-rounded-padding});
  }

  .side-nav {
    padding-left: $iphonex-padding;
    width: calc(300px + #{$iphonex-padding});
  }

  &.lefthand {
    #settings_button {
      left: auto;
      right: $iphonex-rounded-padding;
    }

    #larreevaar_assistance {
      left: $iphonex-padding;
      right: auto;
    }

    .side-nav {
      padding-left: 0;
      width: 300px;
    }
  }
}

.platform-ios.h812.landscape-secondary {
  #settings_button {
    left: $iphonex-rounded-padding;
  }

  #larreevaar_assistance {
    right: $iphonex-padding;
  }

  .side-nav {
    padding-right: 0;
    width: 300px;
  }

  .app {
    padding-left: calc(8px + #{$iphonex-rounded-padding});
    padding-right: calc(8px + #{$iphonex-padding});
  }

  &.lefthand {
    #settings_button {
      left: auto;
      right: $iphonex-padding;
    }

    #larreevaar_assistance {
      left: $iphonex-rounded-padding;
      right: auto;
    }

    .side-nav {
      padding-right: $iphonex-padding;
      width: calc(300px + #{$iphonex-padding});
    }
  }
}
