.side-nav {
  left: 0 !important;
  transition: transform 0.15s ease-out;
  transform: translateX(-100%);
}

body.nav-open .side-nav {
  transform: translateX(0%);
}

.side-nav-back {
  background-color: rgba(0,0,0,0.4);
  height: 0;
  position: fixed;
  opacity: 0;
  top: 48px;
  transition: opacity 0.15s ease-out;
  width: 100%;
  z-index: 998;
}

body.nav-open .side-nav-back {
  opacity: 1;
  height: 100%;
}
