/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 * {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
  padding: 0 0 44px;
  width: 100%;
}

@font-face {
  font-family: AnmolUni;
  src: url('../fonts/anmoluni.otf');
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #fff;
  color: #333;
  font-size: 20px;
  line-height: 1;
}

a {
  color: #333;
  text-decoration: none;
}

.fa {
  font-size: 20px !important;
}

header {
  background-color: rgba(255,255,255,0.95);
  height: 48px;
  left: 0;
  padding-top: 8px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.corner_nav {
  display: block;
  height: 44px;
  line-height: 44px;
  position: fixed;
  text-align: center;
  top: 2px;
  width: 50px;
}

a.corner_nav {
  color: #333;
}

.corner_nav:after {
  border-color: #333;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  content: "";
  height: 36px;
  left: 7px;
  position: absolute;
  top: 3px;
  width: 36px;
}

#settings_button {
  left: 2px;
}

#settings_button .fa {
  font-size: 23px !important;
}

#larreevaar_assistance {
  display: none;
}

.larreevaar #larreevaar_assistance {
  display: block;
}

#larreevaar_assistance {
  font-family: AnmolUni;
  font-size: 13px;
  right: 0px;
  line-height: 15px;
  padding-top: 7px;
}

#larreevaar_assistance .on span:nth-of-type(2n) {
  color: #F37B20;
}

.setting_row_2col {
  border-bottom: 1px solid rgba(221, 221, 221, 0.7);
}

.setting_2col {
  border-right: 1px solid rgba(221, 221, 221, 0.7);
  display: block !important;
  float: left;
  text-align: center;
  width: 50%;
}

.setting_2col:last-of-type {
  border-right: none;
}

.setting_2col.cur {
  color: #F37B20;
}

.setting_more_info {
  font-size: 13px;
  margin-top: 3px;
}

.setting_progress {
  float: right;
}

.setting_progress_link {
  z-index: 2;
}

.setting_progress_link.hide-arrow i {
  display: none;
}

#sehaj_paatth_setting_progress_bar {
  background-color: rgba(0,150,0,0.5);
  content: "";
  height: 44px;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 1;
}

.modal-trigger .set,
.modal-trigger .edit {
  display: none;
}

.modal-trigger.set .set,
.modal-trigger.edit .edit {
  display: inline;
}
/* ***** MODALS ***** */
div.ui-datepicker {
  font-size: 11px;
}

#samaaptee_daily_angs_cont,
#daily_angs_projected_samaaptee_cont {
  display: none;
}

#daily_angs_input_cont {
  margin: 0 auto;
  width: 100px;
}

#daily_angs_input,
#samaaptee_date_input {
  font-size: 2rem;
  text-align: center;
}

#samaaptee_date_input_cont {
  margin: 0 auto;
  width: 200px;
}

#navigation {
  clear: both;
  text-align: center;
}

#navigation * {
  vertical-align: middle;
}

#navigation input {
  background-color: transparent;
  border: 1px solid rgb(238, 238, 238);
  box-shadow: none;
  font-size: inherit;
  height: auto;
  margin: 0;
  outline: none;
  padding: 1px 0;
  text-align: center;
  width: 50px;
}

.app {
  height: 100%;
  padding: 50px 8px 8px;
}

#paatth {
  font-family: AnmolUni;
  height: 100%;
  line-height: 1.4em;
  padding: 10px 0;
}

#paatth:after {
  clear: both;
  content: " ";
  display: block;
}

#paatth.larreevaar span,
#paatth.larreevaar i {
  float: left;
  vertical-align: bottom;
  white-space: nowrap;
}

#paatth.larreevaar.larreevaar_assistance span:nth-of-type(2n) {
  color: #F37B20;
}

#paatth i {
  font-style: normal;
  line-height: inherit;
}

#paatth i.fa.fa-bookmark {
  margin: 0 5px 0 3px;
}

/* ***** ABOUT ***** */
#about {
  background: #fff !important;
  color: #333 !important;
  font-size: 1rem;
}

#about .modal-close {
  color: #333 !important;
}

#about p a,
#about h5 a {
  color: #F37B20;
}

#about h5 {
  font-size: 1.4rem;
}

/* ***** LEFTHAND ***** */
body.lefthand #settings_button {
  left: auto;
  right: 0;
}

body.lefthand #larreevaar_assistance {
  left: 2px;
  right: auto;
}

body.lefthand .side-nav {
  left: auto !important;
  right: 0;
  transform: translateX(100%);
}

body.lefthand.nav-open .side-nav {
  transform: translateX(0%);
}

/* ***** SMART BANNER ***** */
body.smartbanner .app {
  padding-top: 128px;
}

/* ***** DATE PICKER ***** */
#datepicker_back {
  background-color: rgba(0,0,0,0.3);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.datepicker {
  position: fixed;
  z-index: 1001;
}

/* ***** MATERIALIZE ***** */
#slide-out-button {
  display: none;
}

nav,
nav a.button-collapse {
  color: #444;
  height: 0 !important;
}

.side-nav {
  width: 300px;
}

.side-nav,
#sidenav-overlay {
  top: 48px;
}

.side-nav li::after {
  clear: both;
  content: "";
  display: block;
}

.side-nav li {
  position: relative;
}

.side-nav li,
.side-nav a {
  color: #444;
  font-size: inherit;
  height: auto;
  line-height: 44px;
}

.side-nav li:hover,
.side-nav li.active {
  background-color: transparent;
}

.side-nav > li {
  border-bottom: 1px solid rgba(221,221,221,0.7);
}

.side-nav .collapsible-header {
  margin: 0;
  position: relative;
}

.collapsible-header i {
  position: absolute;
  right: 10px;
  top: 0;
}

.side-nav .collapsible-body li a {
  font-size: 1.2rem;
}

.secondary-content {
  color: #444;
}

.modal-close {
  float: right;
}
@media screen and (max-width: 480px) {
  h4 {
    font-size: 1.8rem;
    line-height: 1.98rem;
  }
}
@media screen and (max-width: 320px) {
  .modal .modal-content {
    padding: 12px;
  }
}

@import
  "dark",
  "i18n",
  "iphonex",
  "sidebar";
