/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

@font-face {
    font-family: AnmolUni;
    src: url('../fonts/anmoluni.otf');
}
* {
    box-sizing: border-box;
}
body {
    font-size: 20px;
}
a {
    color: #000;
}
.fa {
    font-size: 20px !important;
}
header {
    background-color: rgba(255,255,255,0.95);
    height: 48px;
    left: 0;
    padding-top: 8px;
    position: fixed;
    top: 0;
    width: 100%;
}
.corner_nav {
    background-size: 44px 44px;
    display: block;
    height: 44px;
    line-height: 44px;
    position: fixed;
    text-align: center;
    top: 2px;
    width: 44px;
}
a.corner_nav {
    color: #000;
}
#larreevaar_padchhed {
    background-image: url(../img/larreevaar.png);
    right: 2px;
}
#settings_button {
    right: 2px;
}
#larreevaar_padchhed.larreevaar {
    background-image: url(../img/padchhed.png);
}
#larreevaar_assistance {
    background-image: url(../img/larreevaar_assistance.png);
    left: 2px;
}
#larreevaar_assistance.larreevaar_assistance {
    background-image: url(../img/larreevaar_assistance_none.png);
}
#settings {
    background: #fff;
    border: 1px solid #cccccc;
    display: none;
    font-size: 16px;
    position: fixed;
    right: 2px;
    top: 48px;
    width: 200px;
    z-index: 4;
}
#settings:after, #settings:before {
    bottom: 100%;
    left: 176px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#settings:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
}
#settings:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #cccccc;
    border-width: 11px;
    margin-left: -11px;
}
.setting_row {
    border-bottom: 1px solid rgba(221,221,221,0.7);
    margin: 5px;
    padding: 5px;
}
.setting_row::after {
    clear: both;
    content: "";
    display: block;
}
.setting_row:last-child {
    border-bottom: none;
}
.setting_2col {
    border-right: 1px solid rgba(221, 221, 221, 0.7);
    float: left;
    text-align: center;
    width: 50%;
}
.setting_2col:last-of-type {
    border-right: none;
}
.checkbox_setting_text {
    float: left;
    width: calc(100% - 25px);
}
.checkbox_setting_checkbox {
    float: left;
    text-align: center;
    width: 25px;
}

#navigation {
    clear: both;
    text-align: center;
}
#navigation * {
    vertical-align: middle;
}
#navigation form {
    display: inline-block;
}
#navigation input {
    border: 1px solid rgb(238, 238, 238);
    text-align: center;
    width: 50px;
}
.app {
    padding: 50px 8px 8px;
}
#paatth {
    font-family: AnmolUni;
    line-height: 1.4em;
    padding: 10px 0;
}
#paatth:after {
    clear: both;
    content: " ";
    display: block;
}
#paatth.larreevaar span,
#paatth.larreevaar i {
    float: left;
    vertical-align: bottom;
    white-space: nowrap;
}
#paatth.larreevaar.larreevaar_assistance span:nth-of-type(2n) {
    color: #F37B20;
}
#paatth i {
    font-style: normal;
}

/* ***** DARK ***** */
body.dark,
.dark #settings {
    background: #222;
    color: #ddd;
}
.dark a {
    color: #ddd;
}
.dark header {
    background-color: rgba(34,34,34,0.95);
}